@import "tailwindcss";
@plugin "daisyui";

body{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/workspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}   

/** Scrollbar Styling **/

::-webkit-scrollbar{
    cursor: pointer;
    width: 8px;
}
::webkit-scrollbar-track{
    background: #555;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 8px;
}

::webkit-scrollbar-thumb:hover{
    background: #242424;
}
