@import "tailwindcss";
@plugin "daisyui";

body{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/workspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}   